@charset "UTF-8";
/*--------------------------------
メディアクエリ
---------------------------------*/
*, *::after, *::before { box-sizing: border-box; }

html { font-size: 62.5%; color: #333; }

body { font-family: YakuHanJPs,'Lato', 'Noto Sans JP', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; line-height: 1.8; word-break: break-all; color: #333; font-size: 1.5rem; margin: 0; text-transform: uppercase; }

a { text-decoration: none; color: #1ca9e3; }

.link { text-decoration: underline; }

object, video { display: block; max-width: 100%; height: auto; border: none; }

img { width: 100%; max-width: 100%; height: auto; border-style: none; }

li, ul { list-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/*--------------------------------
layout
---------------------------------*/
.inner { width: 100%; max-width: 1100px; margin: 0 auto; }

/*--------------------------------
font-siza
---------------------------------*/
h3 { font-size: 2.4rem; }

h4 { font-size: 1.8rem; }

p { font-size: 1.4rem; }

.fs10 { font-size: 10px; font-size: 1rem; }

.fs12 { font-size: 12px; font-size: 1.2rem; }

.fs14 { font-size: 14px; font-size: 1.4rem; }

.fs15 { font-size: 15px; font-size: 1.5rem; }

.fs16 { font-size: 16px; font-size: 1.6rem; }

.fs18 { font-size: 18px; font-size: 1.8rem; }

.fs20 { font-size: 20px; font-size: 2.0rem; }

.fs24 { font-size: 24px; font-size: 2.4rem; }

.fs30 { font-size: 30px; font-size: 3.0rem; }

.fs32 { font-size: 32px; font-size: 3.2rem; }

.fs36 { font-size: 36px; font-size: 3.6rem; }

.fs40 { font-size: 40px; font-size: 4.0rem; }

.fs50 { font-size: 50px; font-size: 5.0rem; }

.fs60 { font-size: 60px; font-size: 6.0rem; }

.pt10 { padding-top: 10px; }

.pt20 { padding-top: 20px; }

.pt30 { padding-top: 30px; }

.pt40 { padding-top: 40px; }

.pt50 { padding-top: 50px; }

.pt60 { padding-top: 60px; }

.pt80 { padding-top: 80px; }

.pt110 { padding-top: 110px; }

.mb10 { margin-bottom: 10px; }

.mb20 { margin-bottom: 20px; }

.mb30 { margin-bottom: 30px; }

.mb40 { margin-bottom: 40px; }

.mb50 { margin-bottom: 50px; }

.mb60 { margin-bottom: 60px; }

.mb70 { margin-bottom: 70px; }

.mb80 { margin-bottom: 80px; }

.mb100 { margin-bottom: 100px; }

/* text */
.txt-c { text-align: center; }

.fw_n { font-weight: normal; }

.fw_b { font-weight: bold; }

.of-h { overflow: hidden; }

/* brの時の */
.pc { display: block; }

.sp { display: none; }

.clear-fix { content: ""; clear: both; }

/*-------------------------------*
media Queries 767
--------------------------------*/
@media screen and (max-width: 767px) { body { font-size: 1.6rem; line-height: 1.8; }
  p { font-size: 1.6rem; }
  .pc { display: none; }
  .sp { display: block; } }
/*---------------------------------
common
---------------------------------*/
.headline { position: relative; margin-bottom: 1em; letter-spacing: 0.1em; }
.headline::before { content: ''; position: absolute; bottom: -4px; display: inline-block; width: 80px; height: 3px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); background-color: #BC9F77; }

/*--------------------------------- header
---------------------------------*/
header { width: 100%; }
header .inner { height: 100px; display: flex; justify-content: space-between; align-items: center; padding: 10px; }

.logo { display: inline-flex; }

.main-nav__list { display: flex; }
.main-nav li { padding-left: 40px; }
.main-nav li a { position: relative; font-size: 1.4rem; font-weight: bold; color: #333; letter-spacing: 1px; }
.main-nav li a::after { position: absolute; content: ''; bottom: 3px; left: 0; width: 100%; height: 3px; background: #BC9F77; opacity: 0; visibility: hidden; transition: .3s; }
.main-nav li a:hover::after { bottom: -8px; opacity: 1; visibility: visible; }
.main-nav li .active::after { bottom: -8px; opacity: 1; visibility: visible; }

/*--------------------------------- hero
---------------------------------*/
.hero { position: relative; width: 100%; }

.hero-inner { position: absolute; padding-right: 5%; overflow: hidden; height: 100%; width: calc(100% - 5%); top: 0; right: 0; }

.title-front { z-index: 3; }

.title-back { z-index: -1; }

.hero-title { position: absolute; font-size: 5rem; line-height: 1.8; left: 0; top: calc(50% + -3em); text-align: right; font-weight: bold; width: calc(90% - 11%); height: 5em; }
.hero-title span { position: absolute; display: block; height: 100%; top: 0; right: 0; }

.front { overflow: hidden; }
.front span { position: absolute; color: #fff; right: -15%; }

.back { width: calc(90% - -0.8%); }
.back .span { position: absolute; right: 0; }

.clip-mask { clip-path: inset(0 20% 0 0); height: 700px; z-index: -10; }

#video2, #video3 { display: none; }

.hero-bg { position: absolute; background-color: #F2EDE9; height: calc(100% + 30%); width: calc(50% + 5%); top: -20%; right: 0; z-index: -999; }

/*---------------------------------
menu
---------------------------------*/
.menu { position: relative; }

.menu-bg { position: absolute; background-color: #F2EDE9; height: calc(100% + 5%); width: calc(50% + 1%); top: 8%; left: 0; z-index: -999; }

.menu-box { display: flex; justify-content: center; }
.menu-box__img { flex-basis: 50%; text-align: center; margin-right: 5%; }
.menu-box__lists { margin-left: 8%; flex-basis: 50%; }
.menu-box__lists h4 { position: relative; font-family: 'lato'; font-size: 2.6rem; font-style: italic; letter-spacing: 0.2em; line-height: 2; border-bottom: #BC9F77 2px solid; }
.menu-box .menu-list { display: flex; justify-content: space-between; align-items: center; max-width: 600px; line-height: 2; padding: 10px; border-bottom: 1px dashed #BEBEBE; text-transform: capitalize; }
.menu-box .menu-list dt { flex-basis: 70%; }
.menu-box .hot, .menu-box .ice { font-size: 1.4rem; }
.menu-box .hot { color: #EB5757; }
.menu-box .ice { color: #2F80ED; }

.menu-btn { display: block; text-align: right; }

.button-more { display: inline-block; padding: 1.5em 2em; font-size: 0.8em; color: #fff; text-decoration: none; user-select: none; background: #121212; border: 1px #121212 solid; box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12); transition: 0.2s ease; }
.button-more:hover { box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }

/*--------------------------------- info
---------------------------------*/
.shop-info { text-align: center; }
.shop-info .logo { max-width: 100px; display: inline-block; }

.shareList { display: flex; flex-wrap: wrap; justify-content: center; width: 100%; padding: 0; margin: 0; list-style: none; }

.shareList-item { width: 40px; height: 40px; margin: 5px 0 0 5px; line-height: 40px; text-align: center; }
.shareList-item:first-child { margin-right: 10px; }

.icon { display: block; color: #fff; border-radius: 50%; }
.icon:hover { opacity: 0.8; }

.icon-twitter { background: #A9977E; }

.icon-facebook { background: #A9977E; }

.twitter, .facebook { font-size: 2rem; }

/*--------------------------------- footer
---------------------------------*/
footer { background-color: #21201E; height: 40px; padding: 10px; }
footer p { color: #fff; }

/*# sourceMappingURL=style.css.map */
